/* .lecture-page {
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.video-player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 4px;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} */

.lecture-page {
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #ebced9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
  }
  .video-container {
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (change as needed) */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  